.menu-top {
  position: sticky;
  top: 0;
  background-color: blue;
  display: flex;
  align-items: center;

  li {
    border: 0;
    a {
      color: #115555;
      font-weight: bold;
      &:hover {
        color: red;
      }
    }
  }
}